@charset "UTF-8";
* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
}

body {
    min-width: 1100px;
    margin: auto;
    color: #333;
}

ol, ul {
    padding: 0;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

em {
    font-style: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.inner-wrap {
    width: 1100px;
    margin: auto;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*index*/
/*header*/
.header {
    height: 100px;
}

.menu-list {
    font-size: 0;
    position: relative;
}

.menu-list .sign {
    position: absolute;
}

.menu-item {
    height: 100px;
    line-height: 100px;
    text-align: center;
    padding: 0 30px;
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    color: #333;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.menu-item:hover {
    background-color: #f0f2f6;
    cursor: pointer;
}

.menu-item:before {
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    background-color: #008abc;
    top: 0;
    left: 0;
    width: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.menu-item.active {
    font-weight: bold;
    color: #008abc;
    background-color: #e5e7ec;
}

.menu-item.active:before {
    width: 100%;
}

.menu-item.active:before {
    width: 100%;
}

/*banner*/
.banner {
    background: url("../img/banner.jpg") no-repeat center;
    height: 647px;
}

.banner-inner {
    position: relative;
}

@-webkit-keyframes bannerMenuAni {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0;
    }
}

@keyframes bannerMenuAni {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0;
    }
}

.banner-menu-item {
    position: absolute;
    text-align: center;
    color: #fff;
}

.banner-menu-item .banner-mune-inner {
    margin: auto;
}

.banner-menu-item .banner-txt {
    font-weight: bold;
}

.banner-menu-item:before, .banner-menu-item:after {
    background: url("../img/polygon1.png") no-repeat center;
}

.banner-menu-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    animation: bannerMenuAni 1s infinite;
    -webkit-animation: bannerMenuAni 1s infinite;
    animation-delay: 0.1s;
    -webkkit-animation-delay: 0.1s;
    z-index: 0;
}

.banner-menu-item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100%;
    animation: bannerMenuAni 1s infinite;
    -webkit-animation: bannerMenuAni 1s infinite;
    z-index: 0;
}

.banner-menu-item.item1 {
    top: 165px;
    left: 15px;
    width: 250px;
    height: 300px;
    background: url("../img/polygon1.png") no-repeat center;
}

.banner-menu-item.item1:before, .banner-menu-item.item1:after {
    background: url("../img/polygon1.png") no-repeat center;
}

.banner-menu-item.item1 .banner-mune-inner {
    margin: 32px auto 0;
    padding-top: 44px;
    height: 239px;
    width: 202px;
    background: url("../img/banner-bg-01.png") no-repeat center;
}

.banner-menu-item.item1 .banner-txt {
    font-size: 30px;
    margin-top: 6px;
}

.banner-menu-item.item2 {
    top: 150px;
    left: 367px;
    width: 290px;
    height: 347px;
    background: url("../img/polygon2.png") no-repeat center;
}

.banner-menu-item.item2:before, .banner-menu-item.item2:after {
    background: url("../img/polygon2.png") no-repeat center;
}

.banner-menu-item.item2 .banner-mune-inner {
    padding-top: 62px;
    margin: 42px auto 0;
    width: 233px;
    height: 266px;
    background: url("../img/banner-bg-02.png") no-repeat center;
}

.banner-menu-item.item2 .banner-txt {
    font-size: 32px;
    margin-top: 11px;
}

.banner-menu-item.item3 {
    top: 80px;
    left: 725px;
    width: 180px;
    height: 219px;
    background: url("../img/polygon3.png") no-repeat center;
}

.banner-menu-item.item3:before, .banner-menu-item.item3:after {
    background: url("../img/polygon3.png") no-repeat center;
}

.banner-menu-item.item3 .banner-mune-inner {
    padding-top: 10px;
    margin: 28px auto 0;
    width: 140px;
    height: 167px;
    background: url("../img/banner-bg-03.png") no-repeat center;
}

.banner-menu-item.item3 .banner-txt {
    font-size: 20px;
    margin-top: 1px;
}

.banner-menu-item.item4 {
    top: 243px;
    left: 919px;
    width: 180px;
    height: 219px;
    background: url("../img/polygon3.png") no-repeat center;
}

.banner-menu-item.item4:before, .banner-menu-item.item4:after {
    background: url("../img/polygon3.png") no-repeat center;
}

.banner-menu-item.item4 .banner-mune-inner {
    padding-top: 10px;
    margin: 28px auto 0;
    width: 140px;
    height: 167px;
    background: url("../img/banner-bg-04.png") no-repeat center;
}

.banner-menu-item.item4 .banner-txt {
    font-size: 20px;
    margin-top: 1px;
}

.ourproject {
    padding: 20px 0 50px;
}

.index-title {
    text-align: center;
    position: relative;
    height: 86px;
    line-height: 86px;
    font-size: 24px;
}

.index-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    left: 50%;
    height: 4px;
    width: 80px;
    margin-left: -40px;
    background-color: #1b9fd0;
}

.index-title.white-title {
    color: #fff;
}

.index-title.white-title:after {
    background-color: #fff;
}

.project-list .project-item {
    width: 33.3333%;
    float: left;
    text-align: center;
    padding-top: 20px;
}

.project-list .project-ico {
    display: block;
    height: 78px;
    width: 78px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.project-list .project-ico.project-ico1 {
    background-image: url("../img/pro-ico-1.png");
}

.project-list .project-ico.project-ico2 {
    background-image: url("../img/pro-ico-2.png");
}

.project-list .project-ico.project-ico3 {
    background-image: url("../img/pro-ico-3.png");
}

.project-list .project-ico.project-ico4 {
    background-image: url("../img/pro-ico-4.png");
}

.project-list .project-ico.project-ico5 {
    background-image: url("../img/pro-ico-5.png");
}

.project-list .project-ico.project-ico6 {
    background-image: url("../img/pro-ico-6.png");
}

.project-list .project-name {
    padding: 10px 0;
    font-size: 16px;
}

.project-list .project-info {
    height: 40px;
    font-size: 14px;
    color: #999;
}

.success-pro {
    color: #fff;
    font-size: 20px;
    background-color: #373d41;
}

.success-pro .success-pro-menu {
    margin-top: 30px;
    position: relative;
}

.success-pro .success-pro-menu .success-pro-btn {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 45px;
    background: url("../img/op-3.png");
    height: 381px;
    line-height: 381px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
}

.success-pro .success-pro-menu .success-pro-btn.prev {
    left: 0;
}

.success-pro .success-pro-menu .success-pro-btn.next {
    right: 0;
}

.success-pro .success-pro-item {
    position: relative;
    overflow: hidden;
    width: 25%;
    float: left;
    text-align: center;
    height: 381px;
    background-position: center;
    background-repeat: no-repeat;
}

.success-pro .success-pro-item.item1 {
    background-image: url("../img/success-case-pic1.png");
}

.success-pro .success-pro-item.item2 {
    background-image: url("../img/success-case-pic2.png");
}

.success-pro .success-pro-item.item3 {
    background-image: url("../img/success-case-pic3.png");
}

.success-pro .success-pro-item.item4 {
    background-image: url("../img/success-case-pic4.png");
}

.success-pro .success-pro-item .success-pro-opera {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 100%;
    background: url("../img/success-pro-operabg.png") repeat;
    z-index: 1;
    padding-top: 245px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.success-pro .success-pro-item:hover {
    cursor: pointer;
}

.success-pro .success-pro-item:hover .success-pro-opera {
    right: 0;
}

.success-pro .success-pro-item .success-pro-link {
    display: block;
    height: 40px;
    line-height: 40px;
    width: 120px;
    margin: 10px auto 0;
    border: 1px solid #fff;
    background: none;
    font-weight: 100;
    font-size: 14px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 4px;
}

.success-pro .success-pro-item .success-pro-link:hover {
    border-radius: 40px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2245);
}

.success-pro .success-pro-item .success-pro-name {
    position: relative;
    z-index: 2;
    padding-top: 160px;
    font-weight: bold;
    line-height: 1.5;
}

.bottom {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 50px;
}

.bottom .bottom-left {
    width: 335px;
}

.bottom .bottom-right {
    width: 720px;
}

.bottom .company-name {
    font-weight: bold;
    font-size: 16px;
}

.bottom .company-info {
    font-size: 14px;
    padding-left: 20px;
    background-position: 0 center;
    background-repeat: no-repeat;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
}

.bottom .company-info.info1 {
    background-image: url("../img/footer-ico1.png");
}

.bottom .company-info.info2 {
    background-image: url("../img/footer-ico2.png");
}

.bottom .qrcode-wrap {
    margin-top: 20px;
}

.bottom .qrcode-info {
    font-size: 14px;
    margin-top: 10px;
}

.bottom .bottom-list .bottom-list-item {
    float: left;
    width: 25%;
}

.bottom .bottom-list .bottom-list-item ~ .bottom-list-item .bottom-part-name :hover {
    left: 0;
}



.bottom .bottom-list .bottom-part-name {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    position: relative;
    cursor: default;
}

.bottom .bottom-list .bottom-part-name:after {
    content: '';
    position: absolute;
    left: 100%;
    bottom: 0;
    height: 4px;
    width: 0;
    background-color: #1b9fd0;
    transition: all 0.3s;
}
.bottom-list-item:hover .bottom-part-name:after {
    width: 100%;
    left: 0;
}
/*.bottom-list-item:hover ~ .bottom-list-item .bottom-part-name:after {*/
    /*left: 0;*/
    /*background-color: red;*/
/*}*/


.bottom .bottom-list .bottom-part-link {
    display: block;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #333;
    -webkit-transition: color 0.36s;
    -moz-transition: color 0.36s;
    -ms-transition: color 0.36s;
    -o-transition: color 0.36s;
    transition: color 0.36s;
}

.bottom .bottom-list .bottom-part-link:hover {
    color: #1b9fd0;
}

.foot {
    text-align: center;
    background-color: #e8e8e8;
    font-size: 14px;
    color: #666;
    height: 46px;
    line-height: 46px;
}

.foot .foot-item {
    margin: 0 10px;
}

/*滚动条loading end*/
::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
    width: 8px;
    border-radius: 0px;
    background: rgba(100, 100, 100, 0);
}

::-webkit-scrollbar:hover {
    border-radius: 0px;
    background: rgba(100, 100, 100, 0.1);
    cursor: all-scroll;
}

::-webkit-scrollbar-thumb {
    width: 8px;
    border-radius: 6px;
    background: rgba(180, 180, 180, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(180, 180, 180, 0.7);
}

/*# sourceMappingURL=style.css.map */
